/* Error: There is no module with the namespace "variables".
 *   ,
 * 9 |     border-radius: variables.$rounded_radius;
 *   |                    ^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass\components\_buttons.scss 9:20  button-colors()
 *   sass\components\_buttons.scss 26:5  @forward
 *   sass\components\_index.scss 2:1     @use
 *   sass\main.scss 2:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "variables".\a   \2577 \a 9 \2502      border-radius: variables.$rounded_radius;\d\a   \2502                     ^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass\\components\\_buttons.scss 9:20  button-colors()\a   sass\\components\\_buttons.scss 26:5  @forward\a   sass\\components\\_index.scss 2:1     @use\a   sass\\main.scss 2:1                  root stylesheet';
}
