// Colors
$bg: #FEFDFA;
$light: #fff;
$medium: #777;
$dark: black;
$primary: #F3654A;
$primary_light: #FF8066;
$secondary_light: #CCDB4A;
$secondary_medium: #BBCB34;
$secondary_dark: #5E724F;
$error: red;
