// Colors
$bg_color: #FEFDFA;
$light_color: #fff;
$medium_color: #777;
$dark_color: black;
$primary_color: #F3654A;
$primary_light_color: #FF8066;
$secondary_light_color: #CCDB4A;
$secondary_medium_color: #BBCB34;
$secondary_dark_color: #5E724F;
