// Colors
$bg: #fefdfa;
$light: #fff;
$medium: #777;
$dark: black;
$primary: #f3654a;
$primary_light: #ff8066;
$secondary_light: #ccdb4a;
$secondary_medium: #bbcb34;
$secondary_dark: #5e724f;
$error: red;