// Spacings
$x-small: 0.3rem;
$small: 0.5rem;
$medium: 1rem;
$large: 2rem;

$buttons-y: $x-small;
$buttons-x: $medium;
$input_spacing: 0.5rem 1rem;

$navigation-height: 3.375rem;
$horizontal: 3.5rem;
$vertical: 2rem;
