// Colors
$bg_color: #FEFDFA;
$light_color: #fff;
$medium_color: #777;
$dark_color: black;
$primary_color: #F3654A;
$primary_light_color: #FF8066;
$secondary_light_color: #CCDB4A;
$secondary_medium_color: #BBCB34;
$secondary_dark_color: #5E724F;

// Shadows
// main_shadow
// shadow_down

// Fonts
// main_font

// Font-sizes
$small: 0.75rem;
$base: 1rem;
$medium: 1.25rem;
$large: 1.75rem;
$extra_large: 2rem;

// Spacings
// small
// medium
// large
// extra_large

// Borders
$main_border: 1px solid $medium_color;

// Border-radius
$small_radius: 0.125rem;
$medium_radius: 0.625rem;
$rounded_radius: 999px;

// Breakpoints