@use "../abstracts/variables";

%button {
  border-radius: variables.$rounded_radius;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  font-weight: 600;
  &:hover {
      cursor: pointer;
  }
}

@mixin button-colors(
        $bg-color: variables.$primary_color, 
        $color: variables.$bg-color, 
        $border: $bg-color, 
        $text-color: $color
    ) {
    @extend %button;
    background-color: $bg-color;
    color: $text-color;
    border: solid 0.1rem $border;
    &:hover {
      color: $bg-color;
      background-color: $color;
    }
}

.button-primary {
    @include button-colors()
}

.button-primary-outlined {
    @include button-colors(
        variables.$bg-color, 
        variables.$primary_color, 
        variables.$primary_color
        )
}

.button-secondary {
    @include button-colors(
        variables.$secondary_medium_color,
        variables.$bg-color, 
        variables.$secondary_medium_color,
        variables.$secondary_dark_color
        )
}

.button-secondary-outlined {
    @include button-colors(
        variables.$bg-color, 
        variables.$secondary_medium_color, 
        variables.$secondary_medium_color,
        variables.$secondary_dark_color
        )
}