@use "../abstracts/colors" as color;
@use "../abstracts/borders" as border;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/font_sizes" as font_size;

@mixin button-styles(
  $bg-color: color.$primary,
  $text-color: color.$bg,
  $border: $bg-color,
  $hover-bg: color.$primary_light,
  $hover-border: $hover-bg,
  $hover-text: $text-color
) {
  border-radius: border.$rounded_radius;
  padding: spacing.$buttons-y spacing.$buttons-x;
  transition: 0.2s;
  font-weight: 600;
  font-size: font_size.$base;
  background-color: $bg-color;
  color: $text-color;
  fill: $text-color;
  @include border.border($border);

  * {
    color: $text-color;
  }

  &:hover {
    color: $hover-text;
    fill: $hover-text;
    background-color: $hover-bg;
    cursor: pointer;
    @include border.border($hover-border);
    * {
      color: $hover-text;
      fill: $hover-text;
    }
  }
}

.button-primary {
  @include button-styles();
}

.button-primary-outlined {
  @include button-styles(
    $bg-color: color.$bg,
    $text-color: color.$primary,
    $border: color.$primary,
    $hover-text: color.$bg
  );
}

.button-secondary {
  @include button-styles(
    $text-color: color.$secondary_dark,
    $bg-color: color.$secondary_light,
    $hover-bg: color.$secondary_medium,
    $hover-text: color.$secondary_dark
  );
}

.button-secondary-outlined {
  @include button-styles(
    $text-color: color.$secondary_dark,
    $bg-color: color.$bg,
    $border: color.$secondary_light,
    $hover-bg: color.$secondary_light,
    $hover-text: color.$secondary_dark
  );
}
