@use "../abstracts/borders" as borders;
@use "../abstracts/colors" as colors;
@use "../abstracts/colors" as color;
@use "../abstracts/font_sizes" as font-size;
@use "../abstracts/shadows" as shadow;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/breakpoints" as breakpoint;

.card {
  width: 100%;
  height: 100%;
  padding-bottom: spacing.$small;
  border-radius: borders.$medium_radius;
  box-shadow: shadow.$main;
  position: relative;
  background-color: color.$light;

  // Image
  a {
    display: block;
    text-decoration: none;
    color: colors.$dark;

    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: borders.$medium_radius borders.$medium_radius 0 0;
      padding-bottom: spacing.$small;
    }
  }

  // Bookmark icon
  form {
    width: auto;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;

    > * {
      box-shadow: shadow.$main;
    }
  }

  // Text field
  > div {
    display: flex;
    justify-content: space-between;

    header {
      margin-left: spacing.$medium;
      flex: 1;
      min-width: 0px; // Needed for text-overflow

      h3 {
        font-size: font-size.$medium;
      }

      > * {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      address {
        font-style: normal;
        font-size: font-size.$small;
      }
    }

    // Rating
    figure {
      display: grid;
      margin-right: spacing.$medium;
      margin-left: auto;
      height: fit-content;

      div {
        width: 1.7rem;
        height: 1.7rem;
      }

      svg {
        fill: colors.$primary;
        width: 100%;
        height: 100%;
      }

      figcaption {
        text-align: center;
        font-size: font-size.$small; // Variables?
      }
    }
  }
}
