@use "../abstracts/borders" as borders;
@use "../abstracts/colors" as colors;
@use "../abstracts/font_sizes" as font-size;
@use "../abstracts/shadows" as shadow;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/breakpoints" as breakpoint;

.card {
  width: 100%;
  height: 100%;
  padding-bottom: 0.5rem;
  border-radius: borders.$medium_radius;
  box-shadow: shadow.$main;
  position: relative;

  // Image
  a {
    display: block;
    text-decoration: none;
    color: colors.$dark;

    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: borders.$medium_radius borders.$medium_radius 0 0;
      padding-bottom: 0.5rem;
    }
  }

  // Bookmark icon
  form {
    width: auto;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;

    > * {
      box-shadow: shadow.$main;
    }
  }

  // Text field
  > div {
    display: flex;
    justify-content: space-between;

    header {
      margin-left: 1rem;
      flex: 1;
      min-width: 0px; // Needed for text-overflow

      h3 {
        font-size: 1.2rem;
        // font-size: font-size.$base;
      }

      > * {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      address {
        font-style: normal;
        font-size: 0.8rem;
      }
    }

    // Rating
    figure {
      display: grid;
      margin-right: 1rem;
      margin-left: auto;
      height: fit-content;

      div {
        width: 1.7rem;
        height: 1.7rem;
      }

      svg {
        fill: colors.$primary;
        width: 100%;
        height: 100%;
      }

      figcaption {
        text-align: center;
        font-size: 0.8rem; // Variables?
      }
    }
    
  }
}


// .card {
//   width: 100%;
//   height: 100%;
//   margin: auto;
//   padding-bottom: 0.5rem;
//   border-radius: borders.$medium_radius;
//   box-shadow: shadow.$main;

//   a {
//     display: grid;
//     grid-auto-flow: row;
//     grid-template-rows: 1fr auto;
//     grid-template-areas:
//       "image"
//       "info";

//     width: 100%;
//     height: 100%;

//     text-decoration: none;
//     color: colors.$dark;

//     > img {
//       grid-area: image;
//       display: block;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       overflow: hidden;
//       border-radius: borders.$medium_radius borders.$medium_radius 0 0;
//       padding-bottom: 0.5rem;
//     }

//     span {
//       grid-area: image;

//       width: fit-content;
//       height: fit-content;
//       transform: translate(calc(1.25rem / 2), calc(-1.25rem / 2));

//       border-radius: borders.$rounded_radius;
//       box-shadow: 0px 0px 4px colors.$medium;
//       background: colors.$primary;

//       margin-left: auto;
//       padding: 0.325rem;

//       font-size: font-size.$medium;
//       color: colors.$light;
//       text-align: center;
//     }

//     > div {
//       grid-area: info;
//       display: flex;

//       header {
//         height: fit-content;
//         margin-left: 1rem;

//         address {
//           font-style: normal;
//         }
//       }

//       .rating {
//         display: grid;
//         margin-right: 1rem;
//         margin-left: auto;
//         height: fit-content;

//         i {
//           font-size: font-size.$large;
//           color: colors.$primary;
//         }

//         div {
//           text-align: center;
//         }
//       }
//     }
//   }
// }
