@use "../abstracts/borders" as border;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/colors" as color;
@use "../abstracts/font_sizes" as font_size;
@use "../abstracts/shadows" as shadow;


// TYPOGRAPHY
legend {
    font-size: font_size.$medium;
}

// FORM
form {
    width: 100%;
    max-width: 500px;

    h2 {
        text-align: center;
        padding-bottom: spacing.$medium;
    }

    .recover-password {
        font-size: calc(font_size.$base * 0.9);
        color: color.$medium;
        margin-top: spacing.$small;
        a {
            color: color.$primary;
        }
    }

    .center-button {
        margin-top: calc(spacing.$medium * 2.5);
        display: flex;
        justify-content: center;

        button {
            font-size: font_size.$medium;
            padding: spacing.$x-small spacing.$large;
        }

        + p {
            font-size: calc(font_size.$base * 0.9);
            text-align: center;
            color: color.$medium;
            margin-top: spacing.$medium;

            a {
                color: color.$primary;
            }
        }
    }

}

fieldset {
    border: 0;
    margin-top: spacing.$medium;
}


button:disabled {
    opacity: 0.3;
}

// INPUT CONTAINERS
.input-container {
    position: relative;
    display: block;
    max-width: 500px;

    button {
        width: 1.5rem;
        height: 1.5rem;
    }

    &:not(:first-child) {
    margin-top: spacing.$medium;
    }

    & > p:first-child {
        margin-bottom: spacing.$x-small;
    }

    p:not([class]) {
        color: color.$medium;
        font-size: font_size.$small;
    }
}
.form-flex {
    display: flex;
    align-items: center;
    gap: 1ch;
}

// GUIDING UI elms
label {
    display: block;
    margin-bottom: spacing.$x-small;
}
.placeholder {
    position: absolute;
    top: spacing.$medium;
    left: spacing.$medium;
    transform-origin: top left;
    transition: transform 0.3s;
    color: color.$medium;
    pointer-events: none;
}
.error-message {
    margin-top: spacing.$x-small;
    font-size: font_size.$small;
    color: color.$error;
    display: none;
}
.requirements {
    font-size: font_size.$small;
    margin-top: spacing.$x-small;
    color: color.$medium;
}
.counter, .counter span {
    font-size: font_size.$small;
    color: color.$medium;
}
.counter {
    position: absolute;
    right: spacing.$medium;
    top: 0.4rem;
}

// VALIDATION STATES

form:invalid .submit {
    pointer-events: none;
    opacity: 0.5;
}
input, textarea, select {
    width: 100%;
    max-width: 500px;
    padding: calc(spacing.$medium + spacing.$small) spacing.$medium spacing.$small spacing.$medium; // spacings?
    font-size: font_size.$base; // typography?
    color: color.$dark; // typography?
    border: border.$main_border;
    border-radius: border.$small_radius;
    transition: border-color 0.3s;

        &:focus ~ .placeholder,
        &:not(:placeholder-shown) ~ .placeholder {
            transform: scale(0.75) translateY(-0.7rem);
        }
        &:invalid:not(:placeholder-shown):not(:focus) ~ .error-message {
            display: block;
        }
        &:invalid:not(:placeholder-shown):not(:focus) ~ .requirements {
            color: color.$error;
        }
    }


// SEARCH
.search-form {
    position: relative;
    button {
        position: absolute;
        top: 0;
        right: spacing.$buttons-x;
    }
}

input[type=search] {
    padding: spacing.$small spacing.$large;
    border-radius: border.$rounded_radius;
    padding: spacing.$buttons-y spacing.$buttons-x;
    transition: box-shadow 0.3s;

    &:focus {
        box-shadow: shadow.$main;
    }

}

//NUMBERS
input[type=number] {
    width: auto;
    padding: spacing.$buttons-y spacing.$buttons-x;
}
.amount-btn {
    display: block;
}
.amount-btn.disabled{
    pointer-events: none;
    opacity: 0.5;
}

// Chrome, Safari, Edge, Opera 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
input[type=number] {
  -moz-appearance: textfield;
}

// SELECT 
select {
    padding: spacing.$buttons-y spacing.$buttons-x;
    width: auto;
}






