@use "../abstracts/colors" as color;
@use "../abstracts/borders" as border;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/shadows" as shadow;

$icon-search: url('../icons/search.svg');
$icon-info: url('../icons/info.svg');
$icon-add: url('../icons/add.svg');
$icon-remove: url('../icons/remove.svg');
$icon-bookmark: url('../icons/bookmark.svg');
$icon-menu: url('../icons/menu.svg');
$icon-more: url('../icons/more.svg');
$icon-close: url('../icons/close.svg');
$icon-account: url('../icons/account.svg');
$icon-star: url('../icons/star.svg');
$icon-arrow-back: url('../icons/arrow_back.svg');
$icon-arrow-forward: url('../icons/arrow_forward.svg');
$icon-filter: url('../icons/filter.svg');
$icon-edit: url('../icons/edit.svg');
$icon-done: url('../icons/done.svg');

@mixin icon-btn-styles(
    $bg-color: color.$bg,
    $hover-bg: color.$bg,
    $border: color.$bg,
    $hover-border: color.$bg,
    $box-shadow: shadow.$main
){
    background-color: $bg-color;
    transition: .2s;
    width: 2rem;
    height: 2rem;
    border-radius: border.$rounded_radius;
    outline: none;
    @include border.border($border);
    box-shadow: $box-shadow;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $hover-bg;
        cursor: pointer;
        @include border.border($hover-border);
    }
}

@mixin icon-settings(
    $icon-src: url("")
){
    width: 90%;
    height: 90%;
    mask-image: $icon-src;
    -webkit-mask-image: $icon-src;
    mask-size: cover;
    -webkit-mask-size: cover;
    transition: inherit;
    pointer-events: none;
}

.icon {
    @include icon-btn-styles(
        $bg-color: transparent,
        $hover-bg: transparent,
        $border: transparent,
        $hover-border: transparent,    
        $box-shadow: none
    );

    div, span {
        background-color: color.$medium;
    }

    &:hover div,
    &:hover span {
        background-color: color.$dark;
    }
}

.icon-primary {
    @include icon-btn-styles(
        $bg-color: color.$primary,
        $hover-bg: color.$primary_light,
        $border: color.$primary,
        $hover-border: none
    );

    div,
    span {
        background-color: color.$light;
    }

    &:hover div,
    &:hover span {
        background-color: color.$light;
    }
}

.icon-primary-inverted {
    @include icon-btn-styles($box-shadow: none);

    div,
    span {
        background-color: color.$primary;
    }

    &:hover div,
    &:hover span {
        background-color: color.$primary_light;
    }
}

.icon-secondary {
    @include icon-btn-styles(
        $bg-color: color.$secondary_light,
        $hover-bg: color.$secondary_medium,
        $border: color.$secondary_light,
        $hover-border: color.$secondary_medium
    );

    div,
    span {
        background-color: color.$secondary_dark
    }

    &:hover div,
    &:hover span {
        background-color: color.$secondary_dark;
    }
}

.icon-secondary-inverted {
    @include icon-btn-styles($box-shadow: none);

    div,
    span {
        background-color: color.$secondary_light;
    }

    &:hover div,
    &:hover span {
        background-color: color.$secondary_medium;
    }
}

.search {
    @include icon-settings($icon-src: $icon-search);
}

.info {
    @include icon-settings($icon-src: $icon-info);
}

.add {
    @include icon-settings($icon-src: $icon-add);
}

.remove {
    @include icon-settings($icon-src: $icon-remove);
}

.bookmark {
    @include icon-settings($icon-src: $icon-bookmark);
}

.menu {
    @include icon-settings($icon-src: $icon-menu);
}

.more {
    @include icon-settings($icon-src: $icon-more);
}

.close {
    @include icon-settings($icon-src: $icon-close);
}

.account {
    @include icon-settings($icon-src: $icon-account);
}

.star {
    @include icon-settings($icon-src: $icon-star);
}

.arrow-back {
    @include icon-settings($icon-src: $icon-arrow-back);
}

.arrow-forward {
    @include icon-settings($icon-src: $icon-arrow-forward);
}

.filter {
    @include icon-settings($icon-src: $icon-filter);
}

.edit {
    @include icon-settings($icon-src: $icon-edit);
}

.done {
    @include icon-settings($icon-src: $icon-done);
}