@use "../abstracts/colors" as color;
@use "../abstracts/borders" as border;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/shadows" as shadow;

@mixin icon-btn-styles(
    $bg-color: color.$bg,
    $hover-bg: color.$bg,
    $border: color.$bg,
    $hover-border: color.$bg,
    $box-shadow: shadow.$main
){
    background-color: $bg-color;
    transition: .2s;
    width: 2rem;
    height: 2rem;
    border-radius: border.$rounded_radius;
    outline: none;
    @include border.border($border);
    box-shadow: $box-shadow;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 90%;
        height: 90%;
        pointer-events: none;
    }

    &:hover {
        background-color: $hover-bg;
        cursor: pointer;
        @include border.border($hover-border);
    }
}


.icon {
    @include icon-btn-styles(
        $bg-color: transparent,
        $hover-bg: transparent,
        $border: transparent,
        $hover-border: transparent,    
        $box-shadow: none
    );

    svg {
        fill: color.$medium;
    }

    &:hover svg {
        fill: color.$dark;
    }
}

.icon-primary {
    @include icon-btn-styles(
        $bg-color: color.$primary,
        $hover-bg: color.$primary_light,
        $border: color.$primary,
        $hover-border: none
    );

    svg {
        fill: color.$light;
    }

    &:hover svg {
        fill: color.$light;
    }
}

.icon-primary-inverted {
    @include icon-btn-styles($box-shadow: none);

    svg {
        fill: color.$primary;
    }

    &:hover svg {
        fill: color.$primary_light;
    }
}

.icon-secondary {
    @include icon-btn-styles(
        $bg-color: color.$secondary_light,
        $hover-bg: color.$secondary_medium,
        $border: color.$secondary_light,
        $hover-border: color.$secondary_medium
    );

    svg {
        background-color: color.$secondary_dark
    }

    &:hover svg {
        background-color: color.$secondary_dark;
    }
}

.icon-secondary-inverted {
    @include icon-btn-styles($box-shadow: none);

    svg {
        background-color: color.$secondary_light;
    }

    &:hover svg {
        background-color: color.$secondary_medium;
    }
}