@use "../abstracts/colors" as color;
@use "../abstracts/borders" as border;
@use "../abstracts/breakpoints" as breakpoint;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/font_sizes" as font_size;
@use "../abstracts/shadows" as shadow;

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: color.$light;
}

.nav-container nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 spacing.$medium;
  height: spacing.$navigation-height;
  color: blue;
  box-shadow: shadow.$down;
  background-color: color.$bg;

  #navigation-control {
    // burger menu button
    right: spacing.$medium;
    position: absolute;
    // margin-right: spacing.$small;
  }

  // main navigation
  #navigation {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: color.$light;
    box-shadow: shadow.$down;
    padding-bottom: spacing.$medium;
    background-color: color.$bg;
    &.closed {
      display: none;
    }

    section {
      // contains search field and links
      display: flex;
      flex-direction: column;
      padding: spacing.$small;

      %link {
        // nav links
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: spacing.$small;
        transition: 0.1s all;
        border-radius: border.$rounded_radius;
        &:hover {
          cursor: pointer;
          background-color: color.$primary;
          color: color.$bg;
        }
      }

      a {
        @extend %link;
        text-decoration: none;
      }
      #sub-navigation {
        // sub navigation under recipes
        width: 100%;
        li {
          @extend %link;
          margin-left: spacing.$medium;
          list-style: none;
        }
        a {
          padding: 0;
          &:hover {
            color: color.$light;
            li {
              color: color.$light;
            }
          }
        }
      }
    }
    .search-form {
      .icon {
        border-color: #00000000;
        top: 0;
        transform: scale(0.9);
      }
    }
    .buttons {
      // log in and sign up buttons
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      button:first-of-type {
        margin-right: spacing.$small;
      }
    }
  }

  // when going to desktop
  @include breakpoint.large {
    justify-content: space-between;
    align-items: center;
    #navigation-control {
      // hidde burger menu icon
      display: none;
    }

    #navigation {
      position: relative;
      top: 0;
      width: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-grow: 2;
      padding-bottom: 0;
      box-shadow: none;

      &.closed {
        // even if the menu was closed on mobile always display it on desktop
        display: flex;
      }
      .center {
        flex-grow: 2;
        justify-content: center;
      }
      .search-form {
        width: 300px;
      }

      section {
        // contains search and recipe link
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        li {
          // move search field after links
          &:first-of-type {
            order: 2;
          }
          &:last-of-type {
            order: 1;
          }
        }
      }

      li {
        padding: 0 spacing.$small;
        &:last-of-type {
          padding-right: 0;
          button {
            margin-right: 0;
          }
        }
      }
    }

    .has-sub-navigation {
      // display dropdown on hover
      padding: spacing.$medium;
      &:last-of-type {
        padding: 0;
      }
      &:hover {
        cursor: pointer;
        & + #sub-navigation,
        & + .sub-navigation {
          visibility: visible;
        }
      }
    }
    .sub-nav-container {
      position: relative;
    }

    #sub-navigation,
    .sub-navigation {
      z-index: 3;
      display: block;
      visibility: hidden;
      position: absolute;
      padding: spacing.$small 0;
      background-color: color.$bg;
      width: auto !important;
      margin: 0;
      &:hover {
        visibility: visible;
      }
      li {
        margin: 0 spacing.$small !important;
      }
    }
    .sub-navigation {
      top: spacing.$navigation-height - 1rem;
      right: 0;
      button {
        padding: 0;
      }
      li {
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }
}
