@use "../abstracts/spacings" as spacing;
@use "../abstracts/colors" as color;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: color.$bg;
  > main {
    margin-top: spacing.$navigation-height;
  }
}

li {
  list-style: none;
}

body {
  background-color: color.$bg;
}
img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
  visibility: hidden;
}
