@use "../abstracts/colors";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: colors.$dark;
}

%headers {
  font-weight: 600;
}

h1,
.main-header {
  @extend %headers;
  font-size: 2.5rem;
}

h2,
.sub-header-1 {
  @extend %headers;
  font-size: 2rem;
}

h3,
.sub-header-2 {
  @extend %headers;
  font-size: 1.5rem;
}

p,
.text {
  font-size: 1rem;
}

.small-text {
  font-size: 0.7rem;
}
