@use "../abstracts/spacings" as spacing;
@use "../abstracts/breakpoints" as breakpoint;

.nav-container {
    z-index: 12;
}

#recipes {
    position: relative;
    max-width: breakpoint.$max-width;
    margin: initial auto;

    section {
        padding: spacing.$small;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: auto;
        // gap: spacing.$small;

        .breadcrumbs {
            grid-column: 1/3
        }

        header:not(.card header)  {
            grid-column: 1/3;
            // grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-height: fit-content;
        }

        .card .icon-primary {
            grid-area: image;
            margin-left: auto;
        }
    }

    @include breakpoint.medium {
        section {
            padding: spacing.$medium;
            // grid-template-columns: 1fr 1fr 1fr;
            // gap: spacing.$medium;

            .breadcrumbs {
                grid-column: 1/4;
            }

            header:not(.card header) {
                grid-column: 1/4;
            }
        }
    }

    @include breakpoint.large {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: spacing.$medium;
    
        aside {
            grid-column: 1/2;
        }

        section {
            grid-column: 2/5;

            .breadcrumbs {
                grid-column: 1/5;
            }

            header:not(.card header) {
                grid-column: 1/5;
            }
        }

    }
}

.advertisement {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}