@use "../abstracts/spacings" as spacing;
@use "../abstracts/breakpoints" as breakpoint;
@use "../abstracts/colors" as color;
@use "../abstracts/borders" as border;

.nav-container {
    z-index: 12;
}

#recipes {
    position: relative;
    max-width: breakpoint.$max-width;
    margin-left: auto;
    margin-right: auto;

    section:not(.modal) {
        padding: spacing.$small;

        .breadcrumbs {
            grid-column: 1/3
        }

        header:not(.card header)  {
            grid-column: 1/3;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-height: fit-content;
        }

        .card .icon-primary {
            grid-area: image;
            margin-left: auto;
        }
    }

    .main-grid {
        padding-left: 0;
        @include breakpoint.large {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @include breakpoint.medium {
        section:not(.modal) {
            padding: spacing.$medium;

            .breadcrumbs {
                grid-column: 1/4;
            }

            header:not(.card header) {
                grid-column: 1/4;
            }
        }
    }

    @include breakpoint.large {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: spacing.$medium;
    
        aside {
            grid-column: 1/2;
        }

        section:not(.modal) {
            grid-column: 2/5;

            .breadcrumbs {
                grid-column: 1/5;
            }

            header:not(.card header) {
                grid-column: 1/5;
            }
        }

    }

    .advertisement {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .modal {
        transition: opacity .5s ease-in-out;
        opacity: 0;
    
        article {
            background-color: color.$bg;
            padding: spacing.$medium;
            border-radius: border.$medium_radius;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            h3 {
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: spacing.$medium;
            }
    
            .icon-secondary-inverted {
                margin: 0 auto;
                transform: scale(1.5);
                cursor: auto;
    
                span {
                    background-color: color.$secondary_medium;
                }
            }
        }
    }
}

