@use "../abstracts/colors" as color;
@use "../abstracts/borders" as border;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/font_sizes" as font_size;
@use "../abstracts/shadows" as shadow;
@use "../abstracts/breakpoints" as breakpoint;

#recipe-content {
  padding: 0 spacing.$small;
  display: block;
  max-width: breakpoint.$max-width-content;
  margin-right: auto;
  margin-left: auto;
  header {
    // bookmark and more icon align to the right
    .action-icon-container {
      text-align: end;
    }
    // padding between recipe info
    .description,
    .estimated-time {
      padding-top: spacing.$medium;
    }
    // recipe image
    img {
      width: 100%;
      margin: spacing.$small 0;
      border-radius: border.$small_radius;
    }
    // ratings stars styling
    .star-rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      .star-container {
        .half {
          width: 1.1rem;
        }
      }
    }
    // flex info and image from one to two columns
    @include breakpoint.custom("700px") {
      display: flex;
      flex-direction: row;
      section {
        flex-grow: 1;
        flex-basis: 500px;
        &:first-of-type {
          margin-right: spacing.$vertical;
        }
      }
    }
  }
  // container for recipe and instructions (and an ad)
  section#content {
    #ingredients {
      margin-top: spacing.$horizontal;
      margin-bottom: spacing.$horizontal;
      ul {
        // make room for listing circles
        padding-left: spacing.$large;
        li {
          list-style: disc;
          padding: spacing.$x-small;
        }
      }
    }
    #instructions {
      margin-top: spacing.$horizontal;
      margin-bottom: spacing.$horizontal;
      ol {
        li {
          padding: spacing.$medium 0;
          // loop over all the steps and add number
          @for $i from 1 to 10 {
            &:nth-of-type(#{$i})::before {
              content: "Step " + $i + ": ";
              font-weight: 600;
            }
          }
        }
      }
      .end {
        text-align: center;
      }
    }

    // grid from one to two columns
    @include breakpoint.custom("700px") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: spacing.$vertical;
      #ingredients {
        grid-row: 1/2;
        grid-column: 1/2;
        li {
          font-size: font_size.$base;
        }
      }
      #instructions {
        grid-row: 1/3;
        grid-column: 2/3;
      }
      .advertisement {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-bottom: spacing.$horizontal;
      }
    }
  }
  // comments and ad
  footer {
    margin-top: 0;
    form.comment {
      margin-top: 0;
    }
    h2,
    .advertisement {
      margin-top: spacing.$horizontal;
    }
    .comment {
      display: flex;
      flex-direction: row;
      width: auto;
      box-shadow: shadow.$main;
      padding: spacing.$small;
      border-radius: border.$medium_radius;
      margin: spacing.$medium 0;
      &:last-of-type {
        margin-bottom: 0;
      }
      .profile-image {
        width: 3rem;
        height: 3rem;
        margin-right: spacing.$small;
        object-fit: cover;
        border-radius: border.$rounded-radius;
      }
      .comment-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        p {
          text-align: start;
        }
        // name and date - flex to row
        section {
          margin-bottom: spacing.$small;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        input[type="submit"] {
          width: fit-content;
          margin-top: spacing.$small;
          align-self: end;
        }
      }
    }
    // grid from one to two columns
    @include breakpoint.custom("700px") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: spacing.$vertical;
      form.comment {
        grid-row: 1/2;
        grid-column: 1/2;
      }
      .advertisement {
        grid-row: 1/3;
        grid-column: 2/3;
        margin-top: 0;
      }
      .all-comments {
        grid-row: 2/3;
        grid-column: 1/2;
      }
    }
  }
}
