@use "../abstracts/colors" as color;
@use "../abstracts/borders" as border;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/font_sizes" as font_size;
@use "../abstracts/shadows" as shadow;
@use "../abstracts/breakpoints" as breakpoint;

#recipe-content {
  padding: 0 spacing.$small;
  display: block;
  max-width: breakpoint.$max-width-content;
  margin: auto;
  header {
    .action-icon-container {
      text-align: end;
    }
    .description,
    .estimated-time {
      padding-top: spacing.$medium;
    }
    img {
      width: 100%;
      margin: spacing.$small 0;
    }
    .star-rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      .star-container {
        .icon-primary-inverted:last-of-type {
          width: 1.1rem;
        }
      }
    }
    @include breakpoint.custom("700px") {
      display: flex;
      flex-direction: row;
      section {
        flex-grow: 1;
        flex-basis: 500px;
        &:first-of-type {
          margin-right: spacing.$medium;
        }
      }
    }
  }
  main {
    #ingredients {
      ul {
        padding-left: spacing.$large;
        li {
          list-style: disc;
          padding: spacing.$x-small;
        }
      }
    }
    #instructions {
      ol {
        li {
          padding: spacing.$small 0;
          &::before {
            font-weight: 600;
          }
          @for $i from 1 to 10 {
            &:nth-of-type(#{$i})::before {
              content: "Step " + $i + ": ";
            }
          }
        }
      }
      .end {
        text-align: center;
      }
    }

    @include breakpoint.custom("700px") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: spacing.$medium;
      #ingredients {
        grid-row: 1/2;
        grid-column: 1/2;
        li {
          font-size: font_size.$base;
        }
      }
      #instructions {
        grid-row: 1/3;
        grid-column: 2/3;
      }
      .advertisement {
        grid-row: 2/3;
        grid-column: 1/2;
      }
    }
  }
  footer {
    padding-top: spacing.$large;
    .comment {
      display: flex;
      flex-direction: row;
      width: auto;
      box-shadow: shadow.$main;
      padding: spacing.$small;
      border-radius: border.$medium_radius;
      margin: spacing.$medium 0;
      .profile-image {
        width: 3rem;
        height: 3rem;
        margin-right: spacing.$small;
        object-fit: cover;
        border-radius: border.$rounded-radius;
      }
      .comment-content {
        text-align: end;
        width: 100%;
        p {
          text-align: start;
        }
        section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        input[type="submit"] {
          width: auto;
          margin-top: spacing.$small;
        }
      }
    }
    @include breakpoint.custom("700px") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      form.comment {
        grid-row: 1/2;
        grid-column: 1/2;
      }
      .advertisement {
        grid-row: 1/3;
        grid-column: 2/3;
      }
      .all-comments {
        grid-row: 2/3;
        grid-column: 1/2;
      }
      .comment {
        margin-right: spacing.$medium;
      }
    }
  }
}
