@use "../abstracts/breakpoints" as breakpoint;
@use "../abstracts/colors" as color;
@use "../abstracts/borders" as border;
@use "../abstracts/spacings" as spacing;

#settings-main {
  max-width: breakpoint.$max-width-content;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 spacing.$medium;
  h1 {
    margin-top: spacing.$horizontal;
  }
  input[type="submit"] {
    width: auto;
  }
  button {
    margin-top: spacing.$medium;
    &[disabled="false"] {
      opacity: 1;
    }
  }
}

#delete-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .background {
    background-color: color.$primary;
    opacity: 0.3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }
  main {
    display: flex;
    border-radius: border.$medium_radius;
    margin: spacing.$small;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: color.$bg;
    z-index: 3;
    padding: spacing.$large;
    section {
      margin-top: spacing.$horizontal;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
