@use "../abstracts/breakpoints" as breakpoint;
@use "../abstracts/spacings" as spacing;

#styletile {
  background-color: #fefdfa;
  padding: spacing.$medium;
  margin: 0 auto;
  > main {
    max-width: 1000px;
    display: grid;
    grid-gap: spacing.$medium;
    @include breakpoint.custom("1000px") {
      grid-template-columns: repeat(2, calc(50% - (spacing.$medium / 2)));
    }
  }
  #colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, auto));
    .color-display div {
      border: 0.05rem solid black;
      width: 3rem;
      height: 3rem;
    }
  }
  #button-section {
    main {
      display: grid;
      grid-gap: 1rem;
      button {
        width: fit-content;
      }
    }
  }
}
