@use "../abstracts/breakpoints" as breakpoint;
@use "../abstracts/spacings" as spacing;
@use "../abstracts/shadows" as shadow;

#styletile {
  background-color: #fefdfa;
  padding: spacing.$medium;
  h1 {
    max-width: breakpoint.$max-width-content;
    margin: spacing.$medium auto;
  }
  #main-content {
    max-width: breakpoint.$max-width-content;
    margin: 0 auto;
    display: grid;
    grid-gap: spacing.$medium;
    section {
      max-width: 100%;
    }
    @include breakpoint.custom("1000px") {
      grid-template-columns: repeat(2, calc(50% - (spacing.$medium / 2)));
    }
  }
  #colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, auto));
    .color-display div {
      border: 0.05rem solid black;
      width: 3rem;
      height: 3rem;
    }
  }
  #button-section {
    div {
      display: grid;
      grid-gap: 1rem;
      button {
        width: fit-content;
      }
    }
  }

  #shadows {
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: spacing.$medium;

      div {
        padding: spacing.$medium;
      }

      .main-shadow {
        box-shadow: shadow.$main;
      }

      .down-shadow {
        box-shadow: shadow.$down;
      }
    }
  }
  .card {
    height: auto;
  }
}
